/* HEADER */
.header {
  height: 400px;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/* NAVBAR */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* BLOG PAGE */
.blog {
  padding: 20px;
  font-size: 15px;
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-right: 20px;
}
/* ADD NEW POST */
.newPost {
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  border: 1px solid white;
  border-radius: 90px;
  padding: 5px 10px;
  margin: 20px;
  font-size: 15px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: auto;
  order: 2;
}
/* LOGO */
.logo {
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
/* ABOUT */
.about {
  text-align: center;
  margin-top: 50px;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: white;
}

