html,
body {
  padding: 0;
  margin: 0;
  background-color: #191b1f;
}

a {
  color: white;
  text-decoration: none;
}
h1 {
  color: white;
  text-decoration: none;
}
p {
  color: white;
  text-decoration: none;
}
h2 {
  color: white;
  text-decoration: none;
}
label {
  color: white;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
